@media screen and (max-width: 768px) {
  header {
    color: red;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  & {
    body {
      font-family: "Poppins", sans-serif;
      & header {
        background-color: #333;
        color: #fff;
        padding: 1rem;
        text-align: center;
      }

      & div {
        display: flex;

        & nav {
          border: 1px solid black;
          position: relative;
          width: 10rem;
          height: 100vh;
          & ul {
            position: fixed;

            & li {
              list-style: none;
              & a {
                text-decoration: none;
                color: black;
                display: block;
                padding: 1rem;
                &:hover {
                  color: #b61d1d;
                }
              }
            }
          }
        }

        & main {
          margin-left: 10rem;

          & .main-big-box {
            //this code will center the content
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            background-color: rgb(145, 145, 131);
          }
          & .articles {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 1rem;
            & article {
              & img {
                max-width: 200px;
                max-height: 300px;
              }
              & table {
                text-align: left;
                & th {
                  & button {
                    text-align: center;
                    font-weight: bold;
                    border: none;
                  }

                  & button:focus {
                    border: none;
                    outline: none;
                  }

                  & button:focus {
                    outline: none !important;
                  }
                }
              }
            }
          }
          & .detailed-article {
            & h1 {
              font-size: xx-large;
            }
            & table {
              //this will cause text to align to the left at the same starting point

              & th {
                background-color: #b61d1d;
                color: white;
              }
              & td {
                background-color: #f2f2f2;
              }
            }
          }
          & .detailed-images {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(4, 1fr);
          }
        }
      }
    }
  }
}
