//this code will change color of h1 depending of screen seize
@media screen and (min-width: 320px) {
  h1 {
    color: red;
  }
  //this code will prepend the text with "320px"
  h1:before {
    content: "320px";
  }
}

@media screen and (min-width: 480px) {
  h1 {
    color: green;
  }
  h1:before {
    content: "480px";
  }
}
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    color: blue;
  }
  h1:before {
    content: "768px";
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    color: yellow;
  }
  h1:before {
    content: "1024px";
  }
}

& body {
  & header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }

  & div {
    display: flex;

    & nav {
      position: relative;
      width: 10rem;
      height: 100vh;
      & ul {
        position: fixed;

        & li {
          list-style: none;
          & a {
            text-decoration: none;
            color: black;
            display: block;
            padding: 1rem;
            &:hover {
              color: #b61d1d;
            }
          }
        }
      }
    }

    & main {
      margin-left: 10rem;

      & .hero {
        //this code will center the content
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;

        & img {
          width: 75rem;
          height: 18.5rem;
          background-size: cover;
        }
        & img:hover {
          opacity: 0.6;
        }
      }
      & .articles {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 2rem;
        & article {
          border: solid 2px white;
          & img {
            width: 18.5rem;
            height: 12.5rem;
            background-size: cover;
          }

          & article:hover {
            background-color: blanchedalmond;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.897);
            transform: scale(1.1);
          }
        }
        & .detailed-article {
          & h1 {
            font-size: xx-large;
          }
          & table {
            text-align: left;
          }
        }
        & .detailed-images {
          display: grid;
          gap: 1rem;
          grid-template-columns: repeat(4, 1fr);
        }
        & .about-company {
          margin-top: 2rem;
          border: solid 2px black;
        }
        & .about-vd {
          padding-top: 2rem;
          & #vd-image {
            box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.897);
            transition: 0.3s;
          }
          aside {
            margin-left: 2rem;
            & table {
              & tr {
                & td {
                  padding-left: 2rem;
                }
              }
            }
          }
        }

        & .about-team {
          margin-top: 2rem;
        }
        //this is for form  page about and create_event get their styling from here
        & .contact-us,
        .create-section {
          & form {
            margin-top: 2rem;
          }
          & form {
            & input,
            select,
            textarea {
              width: 100%;
              padding: 12px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              resize: vertical;
            }
            & input[type="submit"] {
              background-color: darkslategrey;
              color: white;
              padding: 12px 20px;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              float: right;
            }
            & input[type="submit"]:hover {
              color: red;
            }
            & label {
              padding: 12px 12px 12px 0;
            }
            & .col-13 {
              width: 13rem;
              margin-top: 6px;
            }
            & .col-10 {
              width: 10rem;
              margin-top: 6px;
            }
            & .col-30 {
              width: 30rem;
              margin-top: 6px;
            }
            & .col-40 {
              width: 40rem;
              margin-top: 6px;
            }
            & .row {
              display: flex;
            }
          }
        }
      }
    }
  }
}

#container-message-form {
  position: relative;
  & #message-form {
    position: absolute;
    top: 0;
    left: 5rem;
  }
}

#vd-image {
  width: 18.5rem;
  height: 12.5rem;
  background-size: cover;
}
