.about-company,
.about-vd,
.about-team,
.about-aside,
#container-message-form {
  margin-top: 2rem;
}
#vd-image {
  border: solid 1px gold;
  width: 12.5rem;
  height: 18.5rem;
}
.about-company {
  article {
    max-width: 50rem;
  }
}

.about-team {
  & div {
    width: 75rem; /*container-width*/
    height: 18.5rem;
    overflow: hidden; /*hide bounds of image */
    margin: 0; /*reset margin of figure tag*/
    & img {
      //this will make the image round
      border-style: solid;
      border-image-slice: 27 27 27 27;
      border-image-width: 20px 20px 20px 20px;
      border-image-outset: 0px 0px 0px 0px;
      border-image-repeat: stretch stretch;
      border-image-source: url("https://img.freepik.com/free-photo/wooden-textured-background_53876-14865.jpg?w=1380&t=st=1669295693~exp=1669296293~hmac=7fa3b9a845fd423371c3585eecf2ff1b48f78807a7491f04394435926c24e0df");
      border-radius: 10%;
      width: 18.5rem;
      height: 18.5rem;
      object-fit: cover;
      transition: 0.3s;
    }
  }
}
.row {
  display: flex;
}
