.about-company,
.about-vd,
.about-team,
.about-aside,
#container-message-form {
  margin-top: 2rem;
}
#vd-image {
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.897);
  transition: 0.3s;
  width: 18.5rem;
  height: 12.5rem;
  background-size: cover;
}
