@import "../abstract/variables.scss";
.hero {
  border-top: none;
  position: relative;
  background-image: url("../img/pexels-ylanite-koppens-796607.jpg");
  background-size: cover;
  & h2 {
    position: absolute;
    top: 1rem;
    left: 0;
    background-color: #fff;
    padding: 3rem;
    //this will make a triangle shape
    width: 40px;
    height: 40px;
    background: conic-gradient(
      at 50% 50%,
      transparent 135deg,
      green 0,
      green 225deg,
      transparent 0
    );
    z-index: 1;
  }

  & h3 {
    position: absolute;
    padding-top: 10rem;
    margin-top: 10rem;
    bottom: 0;
    padding: 0.5rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
  }
}
.hero-article {
  background-color: $color-secondary;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  //this will make a triangle shape
}
